---
import Support from '../components/Support.astro'
---

<html lang="hu">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Receptek</title>
	</head>
	<body class="bg-zinc-900 p-4 text-zinc-200 max-w-4xl m-auto">
    <slot />
		<Support />
	</body>
</html>